<!DOCTYPE html>
<html>
	<head>
		<title>Miscellaneous</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="script.js"></script>

  		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href=style.css>
	</head>

	<body ng-app="gallery" ng-controller="myCtrl" ng-init="type = 'misc'">
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span> 
      				</button>
					<p class="navbar-brand">Kristen Vincelette</p>
    			</div>
   				<div class="collapse navbar-collapse" id="myNavbar">
      				<ul class="nav navbar-nav">
        				<li><a href=index.html>Home</a></li>
       					<li class="dropdown">
          					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
          					<span class="caret"></span></a>
          					<ul class="dropdown-menu">
            					<li><a href=canvas.html>Canvas</a></li>
            					<li><a href=ornaments.html>Ornaments</a></li>
            					<li class="active"><a href="#">Miscellaneous</a></li>
								<li><a href=prints.html>Prints</a></li> 
          					</ul>
        				</li>
        				<li><a href=shop.html>Shop</a></li> 
      				</ul>
      				<ul class="nav navbar-nav navbar-right">
        				<li><a href=about.html>About</a></li>
        				<li class="dropdown">
          					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
          					<span class="caret"></span></a>
          					<ul class="dropdown-menu">
            					<li><a href="mailto:kristenvincelette@gmail.com" target="_top"><span class="glyphicon glyphicon-envelope"></span> Email</a></li>
            					<li><a href="https://www.facebook.com/kristenvinceletteimages"><span class="glyphicon glyphicon-user"></span> Facebook</a></li>
          					</ul>
        				</li>
     				</ul>
    			</div>
  			</div>
		</nav>

	<div class="misc">
	<div class="row">
		<div class="col-sm-12 jumbotron">
			<h1>Miscellaneous</h1>
		</div>
	</div>
	</div>

	<div class="container img-rounded bottom-buffer">
    <div ng-if="!data" class="col-sm-2 col-xs-offset-5" id="loading">
      <br><br>
      <div class="loader"></div>
      <span>One moment...</span><br><br>
    </div>
		<div ng-repeat="row in data[type]" class="row top-buffer">
			<div ng-repeat="piece in row" class="col-sm-{{piece.columns}} col-xs-offset-{{piece.offset}}">
				<img class="img-thumbnail" ng-src="https://kwoc-manager.herokuapp.com/{{type}}/{{piece.fileName}}"/>
				<h3 class="text-center reduced-top">{{piece.title}}</h3>
			</div>
		</div>
	</div>

	</body>
</html>	
