body {
	background-image: url("images/background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}

@media (max-width: 768px) {
  body {
    background: rgb(11, 87, 188); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(11, 87, 188), rgb(64, 233, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(11, 87, 188), rgb(64, 233, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(11, 87, 188), rgb(64, 233, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(11, 87, 188), rgb(64, 233, 255)); /* Standard syntax */ 
  }
}

.row {
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
}

h2 {
	color: 	white;
	text-shadow: 0px 0px 25px black;
}

h3 {
	color: black;
	text-shadow: 0px 0px 1px rgb(200,200,200);
}

a {
	text-shadow: none;
}

p {
	color: black;
	font-family: Courier New, monospace;
	font-weight: bold;
}

small {
	text-shadow: none;
}	

.container {
	background-color: rgba(255,255,255,0.75);
	border: 2px solid black;
	box-shadow: 0 0 15px black;
}

.jumbotron {
	box-shadow: 0 0 25px black;
}

.index .jumbotron {
	text-align: center;
	position: relative;
    background: #000 url('images/canvas/gooseberryCopy.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.canvas .jumbotron {
    position: relative;
    background: #000 url('images/1.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.ornaments .jumbotron {
    position: relative;
    background: #000 url('images/2.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.misc .jumbotron {
    position: relative;
    background: #000 url('images/3.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.prints .jumbotron {
	position: relative;
    background: #000 url('images/4.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.shop .jumbotron {
	position: relative;
    background: #000 url('images/5.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.about .jumbotron {
	position: relative;
    background: #000 url('images/6.jpg') center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.jumbotron h1 {
	color: white;
	font-weight: 900;
	font-variant: small-caps;
	font-size: 10vw;
	text-shadow: 7px 7px 10px black;
}

.jumbotron h2 {
	color: black;
	font-family: cursive;
	font-size: 7vw;
	text-shadow: 0px 0px 25px white;
}

.jumbotron a {
	font-variant: small-caps;
}

.gallery h2 {
	font-variant: small-caps;
	text-decoration: none;
}

.bio p {
	font-size: 18px;
	text-align: justify;
}

.reduced-top {
	margin-top: 5px;
}

.top-buffer {
	margin-top: 20px;
}

.bottom-buffer {
	margin-bottom: 20px;
}

.carousel-inner h3 {
	color: white;
	font-weight:900;
	text-shadow: 0px 0px 10px #000;
}

.carousel-inner p {
	color: white;
	font-weight:900;
	text-shadow: 0px 0px 10px #000;
}